es2.dtd

<!ELEMENT TEI(header, facsimile?, text+)>
<!ELEMENT header(#PCDATA)>
<!ELEMENT facsimile(#PCDATA)>
<!ELEMENT text(#PCDATA|seg)>
<!ATTLIST header type CDATA #FIXED>
<!ATTLIST header lang NMTOKEN #IMPLIED>
<!ATTLIST facsimile 
          source #REQUIRED
          ref IDREFS #IMPLIED >
<!ATTLIST testo 
        id ID #REQUIRED
        type CDATA #IMPLIED>

